source https://api.nuget.org/v3/index.json
framework: netcoreapp3.1
storage: none

nuget FSharp.Core                           >= 4.6.2 lowest_matching: true
                                            
nuget Aardvark.Application.Slim.GL          ~> 5.0.7
nuget Aardvark.SceneGraph                   ~> 5.0.7
